# --- python ---
.venv/
__pycache__/
*.egg-info/
*.pyc

# --- general ---
**/~$*
*.code-workspace
*.zip
*.pth
*.pkl
*.slurm

**/*tmp*
**/*bak*
**/*dev*

# --- specifics ---
.vscode/
models/

# --- forced includes ---
# !
